SamplePlugin_source RCData "SamplePlugin_source.zip"
StormLib RCData "StormLib.dll"
sfmpqEXE RCData "F:\\GoooooF\\Wc3\\CheatSet\\X-Deprotect\\sfmpq.exe"
HELP RCData "MPQRePacker.chm"
CheatPacks RCData "CheatPacks.zip"
SamplePlugin RCData "SamplePlugin.dll"
sfmpqDLL RCData "F:\\GoooooF\\Wc3\\CheatSet\\X-Deprotect\\sfmpq.dll"
DummyMap RCData "DummyMap.w3x"
xdepEXE RCData "F:\\GoooooF\\Wc3\\CheatSet\\X-Deprotect\\xdep.exe"
xdepINI RCData "F:\\GoooooF\\Wc3\\CheatSet\\X-Deprotect\\xdep.ini"
FILELIST RCData "filelist.txt"
SFMPQ_dll_internal RCData "SFmpq.dll"
